#parse("/velocity/layout.vm")
#@mainLayout()
    #if($book)
    <h1>$book.getTitle()</h1>
    <h2>$book.getAuthor()</h2>
    <div class="book">
        <div class="bookCover">
            <img src="$book.getLargeCover()" alt="$book.getTitle()" style="width: 50px; height: 50px;">
        </div>
    </div>
    #else
    <h1>$msg.get("BOOKS_BOOK_NOT_FOUND")</h1>
    #end
    <div id="nostyle">static content - should not be styled</div>
    <div id="cnt">moj content</div>
    <script src="/js/jquery.js"></script>
    <script type="application/javascript">
        $.get("/subject/1", function (data){
            $("#nostyle").append(data.url)
            $.get(data.url, function (data) {
                $("#cnt").append(data);
            });
        });
    </script>

#end
