#parse("/velocity/layout.vm")
#@mainLayout()
    <h1>$msg.get("INDEX_HEADING")</h1>
    <h2>$msg.get("INDEX_REGISTERED_USERS", $users.size())</h2>
    <ul>
        #foreach($user in $users)
            <li>$user.getUsername()</li>
        #end
    </ul>
    <p>$msg.get("INDEX_PASSWORD_INFO")</p>
#end
