#parse("/velocity/layout.vm")
#@mainLayout()
<h1>$msg.get("SUBJECTS_HEADING_ALL")</h1>
<div class="row row-3">
    #foreach($subject in $subjects)
        <div class="col">
            <a class="book" href="$WebPath.getSUBJECTS()$subject.getId()" title="$subject.getKeywords()">$subject.getTitle()</a>
        </div>
    #end
</div>
#end
