#parse("/velocity/layout.vm")
#@mainLayout()
<div>$successmsg</div>
    #foreach($subject in $subjects)
    <form class="form-inline">
        <div class="form-group">
            <div class="h$subject.subjectPositionId">
                $subject.getTitle()
            </div>
        </div>
        <div class="form-group">
            <a href="/edit_subject_item/$subject.getId()/$subject.getParentSubjectId()/edit/" title="uredi" style="padding-left: 5px">
                <span class="glyphicon glyphicon-edit" title="uredi"></span></a>

            #if($subject.getSubjectPositionId() < 4)
                <a href="/edit_subject_item/$subject.getId()/$subject.getParentSubjectId()/add/" title="dodaj" style="padding-left: 5px">
                    <span class="glyphicon glyphicon-plus" title="dodaj"></span></a>
            #end
            <a href="/onetitlequestions/$subject.id/" title="ispitna pitanja" style="padding-left: 5px">
                <span class="glyphicon glyphicon-question-sign" title="ispitna pitanja"></span></a>
        </div>
    </form>
    #end
</div>
#end
