#parse("/velocity/layout.vm")
#@mainLayout()
    #foreach($subject in $subjects)
    <form class="form-inline">
        <div class="form-group">
            <div class="h$subject.subjectPositionId">
                <a href="/onetitlechild/$subject.getId()/" title="$subject.keywords">$subject.getTitle()</a>
            </div>
        </div>
    </form>
    #end
#end
