#parse("/velocity/layout.vm")
#@mainLayout()
<h2>Nastavna pitanja za: $subject.title</h2>
    <p><h3>Uputa nastavniku</h3>
        Za učinkovitije poučavanje potrebno je postaviti što više pitanja svih (5) vrsta.
        Pitanje može biti postavljeno: a) kao tekst, b) kombinacija teksta i druge datoteke (grafička, video, audio…)</p>
    <p><h5>Tipovi pitanja:</h5>
        1)  Da – Ne pitanja: Pitanja na koje se odabire „Da“ (istina, „Slažem se“) ili „Ne“ (neistina, „ne slažem se“) kao odgovor<br>
        2)  Kratki odgovori: su pitanja na koja se odgovara s jednom ili dvije riječi: to su pitanja koja započinju s „Kada“, „Gdje“, „Tko“.<br>
        3)  Jednostruki izbor: Samo je jedan od ponuđenih odgovora točan.<br>
        4)  Višestruki izbor: Od ponuđenih odgovora može biti jedan, više ili svi točni<br>
        5)  Opisna pitanja su pitanja na koja se odgovara opisnim odgovorom i najčešće započinju s „Kako“, „Zašto“, „Što“, „Opiši“ i slično.
    </p>
    <hr>
    #if($validation)
    <div class="alert alert-danger fade in" id="validation">
        <a href="#" class="close" data-dismiss="alert">&times;</a>
        $validation
    </div>
    #end

<form method="post" class="form-horizontal" id="questionForm">
    <input type="hidden" name="subjectid" value="$subjectId"/>
    <div class="form-group">
        <label class="control-label col-sm-2" for="question">Pitanje</label>
        <div class="col-sm-10">
            <input type="text" class="form-control" id="question" name="question">
        </div>
    </div>

    <div class="form-group">
        <label class="control-label col-sm-2" for="answers">Tip pitanja</label>
        <div class="col-sm-10">
            <select class="form-control" id="questionTypeId" name="questionTypeId"
                    onchange="toggleSelectableAnswers();">
                #foreach($questionType in $questionTypes)
                    <option value="$questionType.id">$questionType.name</option>
                #end
            </select>
        </div>
        </div>

    <div class="form-group" id="selectableAnswers">
        <label class="control-label col-sm-2" for="possibleAnswers">Mogući odgovori</label>
        <div class="col-sm-10">
            <input type="text" class="form-control" id="possibleAnswers" name="possibleAnswers" data-role="tagsinput">
        </div>
    </div>

    <div class="form-group">
        <label class="control-label col-sm-2" for="correctAnswers">Točni odgovori</label>
        <div class="col-sm-10">
            <input type="text" class="form-control" id="correctAnswers" name="correctAnswers" data-role="tagsinput">
        </div>
    </div>

    <div class="form-group">
        <label class="control-label col-sm-2" for="points">$msg.get("ONE_TITLE_QUESTIONS_POINTS")</label>
        <div class="col-sm-10">
            <input type="number" name="points" id="points" min="0" max="20" step="1" value="0">
        </div>
    </div>

    <button type="submit" class="btn btn-primary">Unesi</button>
    <button type="submit" formmethod="get" formaction="/subjects/" class="btn btn-warning">$msg.get(
        "SUBJECT_EDIT_CANCEL")</button>
</form>
<div>
    $questions
</div>
#end
<script src="/js/jquery.js"></script>
<script type="application/javascript">
    function toggleSelectableAnswers() {
        var show = $('#questionTypeId').val();
        $("#selectableAnswers").toggle(show < 3)
    }
</script>
