#parse("/velocity/layout.vm")
#@mainLayout()
    #if($status == 1)
        <form method="post" class="form-group">
            <input type="hidden" name="subjectId" value="$subjectId">
            <input type="hidden" name="titleId" value="$titleId">
            <input type="submit" class="btn btn-primary" name="submit" value="$msg.get("TITLE_LEARNED_SUBMIT")">
        </form>
    #end
    <div>$status</div>
    <div>$content</div>
#end
