#parse("/velocity/layout.vm")
#@mainLayout()
<form method="post" class="form-group">
    <div class="h$subject.subjectPositionId">$subject.title</div>

    <input type="hidden" name="subjectId" value="$subject.id">
    <button type="submit" formmethod="get" formaction="/onetitle/$subject.parentSubjectId/" class="btn btn-warning">
        Natrag
    </button>
    #if($subject.getLearningStatus().id < 4)
        <button type="submit" formaction="/exam/$subject.id/" formmethod="get" title="ispitna pitanja" class="btn btn-default">
            <span class="glyphicon glyphicon-question-sign" title="ispitna pitanja"></span>Ispitna pitanja</button>
    #else
        &nbsp;&nbsp;
        <span class="glyphicon glyphicon-ok" title="završeno">&nbsp;Ispit je odrađen</span>
    #end

</form>
<br>
<div id="txt">$subject.getContent()</div>

    #if($subject.showLinks())
        <h4>Poveznice:</h4>
        <hr>
        #foreach($link in $links)
        <div class="col-md-6">
            #if($link.isImage())
                <a href="$link.url" target="_blank"><img src="$link.url" title="$link.title" style="width: 150px;"/></a><br>
                $link.title
            #elseif($link.isAudio())
                <audio controls style="width: 100%;">
                    <source src="$link.url" type='audio/mp4'>
                    <p>Tvoj preglednik ne podržava HTML5 audio</p>
                </audio><br>
                $link.title
            #elseif($link.isVideo())
                <video controls style="width: 100%">
                    <source src="$link.url" type="video/mp4">
                    <p>Tvoj preglednik ne podržava HTML5 video</p>
                </video>

            #else
            <a class="book" href="$link.url" target="_blank">$link.title</a>
            #end
        </div>
        #end
    #end
#end
$subject.getHighlightJavasript()
