#parse("/velocity/layout.vm")
#@mainLayout()
<form method="post" class="form-group">
    <input type="hidden" name="subjectId" value="$subject.id">
    <button type="submit" formmethod="get" formaction="/onetitle/$subject.parentSubjectId/" class="btn btn-warning">
        Natrag
    </button>
    #if($subject.getLearningStatus().id < 4)
        <button type="submit" formaction="/exam/$subject.id/" formmethod="get" title="ispitna pitanja" class="btn btn-default">
            <span class="glyphicon glyphicon-question-sign" title="ispitna pitanja"></span>Ispitna pitanja</button>
    #else
        &nbsp;&nbsp;
        <span class="glyphicon glyphicon-ok" title="završeno">&nbsp;Ispit je odrađen</span>

    #end


</form>
<br>
<div id="txt">$subject.content</div>
    #if($subject.showAdditionalContent())
        <div id="atxt">$subject.additionalContent</div>
    #end
#end
$subject.getHighlightJavasript()
