#parse("/velocity/layout.vm")
#@mainLayout()
    <h2>$msg.get("ADAPTIVE_RULES_HEADING")</h2>
    #if($validation)
    <div class="alert alert-danger fade in" id="validation">
        <a href="#" class="close" data-dismiss="alert">&times;</a>
        $validation
    </div>
    #end
<div class="table-responsive">
    <h3>Tipovi inteligencije</h3>
    <table class="table">
        <thead>
        <tr>
            <th>Šifra</th>
            <th>Naziv</th>
            <th>&nbsp;</th>
        </tr>
        </thead>
        <tbody>
            #foreach($intelligence in $intelligences)
            <tr>
                <td>$intelligence.code</td>
                <td>$intelligence.name</td>
                <td>
                    #foreach($intrule in $intelligence.adaptiveRules)
                        $intrule.title<br>
                    #end
                </td>
            </tr>
            #end
        </tbody>
    </table>

    <h3>Stilovi učenja</h3>
    <table class="table">
        <thead>
        <tr>
            <th>Šifra</th>
            <th>Naziv</th>
            <th>&nbsp;</th>
        </tr>
        </thead>
        <tbody>
            #foreach($style in $styles)
            <tr>
                <td>$style.code</td>
                <td>$style.name</td>
                <td>
                    #foreach($stylerule in $style.adaptiveRules)
                        $stylerule.title<br>
                    #end
                </td>
            </tr>
            #end
        </tbody>
    </table>
</div>
#end
