#parse("/velocity/layout.vm")
#@mainLayout()
<h2>$msg.get("EXAM_HEADING")</h2>
<div>
    <form method="post" class="form-horizontal" id="questionForm">
        <input type="hidden" name="subjectid" value="$subjectId"/>
        <input type="hidden" name="titleid" value="$titleId"/>

        $questions

        <hr>

        <button type="submit" class="btn btn-primary">Pošalji odgovore</button>
        <button type="submit" formmethod="get" formaction="/subjects/$subjectId" class="btn btn-warning">Odustani</button>
    </form>
</div>
#*
    #if($validation)
    <div class="alert alert-danger fade in" id="validation">
        <a href="#" class="close" data-dismiss="alert">&times;</a>
        $validation
    </div>
    #end
*#
#end
