#parse("/velocity/layout.vm")
#@mainLayout()
<h2>$msg.get("EXAM_HEADING")</h2>

    #if($validation)
        #if($!success)
            <div class="alert alert-success fade in" id="validation">
        #else
            <div class="alert alert-danger fade in" id="validation">
        #end
            <a href="#" class="close" data-dismiss="alert">&times;</a>
        $validation
    </div>
    #end

<div>
    <form method="post" class="form-horizontal" id="questionForm">
        <input type="hidden" name="subjectid" value="$subjectId"/>

        $questions

        <hr>

        <button type="submit" class="btn btn-primary">Pošalji odgovore</button>
        <button type="submit" formmethod="get" formaction="/onetitlechild/$subjectId" class="btn btn-warning">Odustani</button>
    </form>
</div>
#end
