#macro(mainLayout)
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">

    <title>$msg.get("COMMON_TITLE")</title>
    <meta name="author" content="Igor Ivanović">

    <!-- Bootstrap Core CSS -->
    <link href="/css/bootstrap.min.css" rel="stylesheet">

    <!-- tags-input CSS -->
    <link href="/css/bootstrap-tagsinput.css" rel="stylesheet">

    #if($currentUser && $currentUser.color)
        <link href="/$currentUser.color" rel="stylesheet">
    #else
        <link href="/main.css" rel="stylesheet">
    #end

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>
<body>

<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
    <div class="container">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse"
                    data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">&nbsp;</span></a>
        </div>
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">

                <li><a href="/index">
                    <span style="font-size: xx-large" title="$msg.get("COMMON_TITLE")">&#x3A8;</span>
                </a>
                </li>
                #if($currentUser)
                    <li><a href="/subjects">
                        Nastavni materijali
                    </a></li>
                    <li><a href="/profile">
                        $msg.get("COMMON_NAV_PROFILE")
                    </a></li>
                    #if($currentUser && $currentUser.status == 'ADMIN')
                        <li><a href="/users">
                            Korisnici
                        </a></li>
                    #end

                    #if($currentUser && $currentUser.status == 'TEACHER')
                        <li><a href="/students">
                            Studenti
                        </a></li>
                        <li><a href="/adminrules">
                            Adaptivna pravila
                        </a></li>
                    #end

                #end

            </ul>
            <div class="userinfo" style="float: right; color: white; padding-top: 10px; text-align: right;">
                #if($currentUser)
                    <ul class="nav navbar-nav navbar-right">
                        <li>
                            <form name="logout" method="post" action="$WebPath.getLOGOUT()">
                                <div>$currentUser.firstName $currentUser.lastName $currentUser.status</div>
                                <a href="javascript:document.logout.submit()"><span class="glyphicon glyphicon-log-out"></span>&nbsp;Odjava</a>
                        </form>
                        </li>
                    </ul>
                #else
                    <ul class="nav navbar-nav navbar-right">
                        <li><a href="$WebPath.getLOGIN()"><span class="glyphicon glyphicon-log-in"></span>&nbsp;Prijava</a></li>
                    </ul>
                #end
            </div>
        </div>
        <!-- /.navbar-collapse -->
    </div>
</nav>

<div class="container">
    <header id="myCarousel" class="carousel" style="padding: 30px;">
        &nbsp;
    </header>


    <div class="row content">
        <div class="col-sm-10 text-left">
            $bodyContent
        </div>
        #if($currentUser && $currentUser.status == 'STUDENT')
            <div class="col-sm-2 sidenav" style="color: #959595; border: solid #959595 1px; margin-bottom: 20px;">
                <strong>Parametri korištenja:</strong><br>
                Stilovi učenja:<br>
                #foreach($style in $currentUser.learningStyles)
                    $style.description<br>
                #end
                <br>
                Vrsta inteligencije:<br>
                $currentUser.intelligenceType.description
                #if($currentUser.debug)
                    <hr>
                    <button type="button" class="btn btn-info" data-toggle="collapse" data-target="#debug" aria-expanded="false">Testiranje pravila</button>
                    <br>
                    <div class="collapse" id="debug">
                        <form action="/testrules/" method="post">
                        #foreach($aRule in $currentUser.debugRules)
                            <input class="debugrule" type="checkbox" name="$aRule" id="$aRule.id" value="$aRule.id" #if ($currentUser.getUserRules().contains($aRule)) checked#end >$aRule.title<br>
                        #end
                            <input type="submit" value="primijeni">
                        </form>
                    </div>
                    <hr>
                #end
            </div>
        #end
        <div class="col-sm-2 sidenav">
            $!sidebarContent
        </div>
    </div>
    <hr>
</div>
<footer class="container-fluid text-center">
    <p>Footer Text</p>
</footer>
<script src="/js/jquery.js"></script>
<script src='/js/jquery.highlight-5.js'></script>

<!-- Bootstrap Core JavaScript -->
<script src="/js/bootstrap.min.js"></script>

<!-- tags input -->
<script src="/js/bootstrap-tagsinput.min.js"></script>

<script type="application/javascript">
    $('.debugrule').click(function() {
            $.ajax({
                type: "POST",
                url: '/testrules/',
                data: {"ruleId": $(this).attr('id'), "value" : this.checked}, //--> send id of checked checkbox on other page
                success: function(data) {
                    // todo: reload page
                },
                error: function() {
                },
                complete: function() {
                }
            });
    });
</script>
</body>
</html>
#end
