<div class="table-responsive">
    <table class="table">
        <thead>
        <tr>
            <th>#</th>
            <th>Naslov</th>
            <th>Url</th>
            <th>&nbsp;</th>
        </tr>
        </thead>
        <tbody>
            #foreach($link in $links)
            <tr>
                <td>
                #if($link.linkTypeId == 1)
                    <span class="glyphicon glyphicon-paperclip" title="privitak"></span>
                #else
                    <span class="glyphicon glyphicon-globe" title="vanjska poveznica"></span>
                #end
                </td>
                <td>$link.title</td>
                <td><a href="$link.url" target="_blank">$link.url</a></td>
                <td>&nbsp</td>
                <td>
                    <form method="post" action="/deletelink/">
                        <input type="hidden" name="linkId" value="$link.id">
                        <input type="hidden" name="subjectId" value="$subject.id">
                        <button type="submit" class="btn btn-danger">Briši</button>
                    </form>
                </td>
            </tr>
            #end
        </tbody>
    </table>
</div>
