#parse("/velocity/layout.vm")
#@mainLayout()
    <h2>$msg.get("PROFILE_HEADING")</h2>
    #if($validation)
    <div class="alert alert-danger fade in" id="validation">
        <a href="#" class="close" data-dismiss="alert">&times;</a>
        $validation
    </div>
    #end
    <form method="post" class="form-horizontal" id="profileForm">
        <div class="form-group">
            <label class="control-label col-sm-2" for="username">$msg.get("PROFILE_USERNAME")</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" id="username" value="$currentUser.username" readonly>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-sm-2" for="firstName">$msg.get("PROFILE_FIRST_NAME")</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" id="firstName" value="$currentUser.firstName" readonly>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-sm-2" for="lastName">$msg.get("PROFILE_LAST_NAME")</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" id="lastName" value="$currentUser.lastName" readonly>
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-sm-2" for="emal">$msg.get("PROFILE_EMAIL")</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" id="email" value="$currentUser.email" readonly>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-sm-2" for="emal">$msg.get("PROFILE_COLOR")</label>
            <div class="col-sm-10">
                <label for="color01">
                    <input type="radio" class="form-control" name="color" id="color01"  #if ($currentUser.color == 'main_1.css') checked #end value="1">
                    <span STYLE="color: black; background-color: yellow; padding: 7px; border-radius: 5px;">Text</span>
                </label>
                <label for="color02">
                    <input type="radio" class="form-control" name="color" id="color02" #if ($currentUser.color == 'main_2.css') checked #end  value="2">
                    <span STYLE="color: #f0ad4e; background-color: #122b40; padding: 7px; border-radius: 5px;">Text</span>
                </label>
                <label for="color03">
                    <input type="radio" class="form-control" name="color" id="color03" #if ($currentUser.color == 'main_3.css') checked #end  value="3">
                    <span STYLE="color: #f0ad4e; background-color: blue; padding: 7px; border-radius: 5px;">Text</span>
                </label>
                <label for="color04">
                    <input type="radio" class="form-control" name="color" id="color04"  #if ($currentUser.color == 'main_4.css') checked #end value="4">
                    <span STYLE="color: black; background-color: violet; padding: 7px; border-radius: 5px;">Text</span>
                </label>
                <label for="color05">
                    <input type="radio" class="form-control" name="color" id="color05"  #if ($currentUser.color == 'main_5.css') checked #end value="5">
                    <span STYLE="color: red; background-color: white; padding: 7px; border-radius: 5px;">Text</span>
                </label>
                <label for="color06">
                    <input type="radio" class="form-control" name="color" id="color05" #if ($currentUser.color == 'main_6.css') checked #end value="6">
                    <span STYLE="color: black; background-color: white; padding: 7px; border-radius: 5px;">Text</span>
                </label>
            </div>
        </div>

        <button type="submit" class="btn btn-primary">Spremi izmjenu</button>
        <button type="submit" formmethod="get" formaction="/index/" class="btn btn-warning">$msg.get("SUBJECT_EDIT_CANCEL")</button>
    </form>
#end
