#parse("/velocity/layout.vm")
#@mainLayout()
<h1>$msg.get("STUDENTS_HEADING_ALL")</h1>
    <div class="table-responsive">
        <table class="table">
            <thead>
            <tr>
                <th>#</th>
                <th>Ime</th>
                <th>Prezime</th>
                <th>Korisničko ime</th>
                <th>Email</th>
            </tr>
            </thead>
            <tbody>
            #foreach($student in $students)
                <tr>
                    <td>$student.id</td>
                    <td>$student.username</td>
                    <td>$student.firstName</td>
                    <td>$student.lastName</td>
                    <td>$student.email</td>
                </tr>
            #end
            </tbody>
        </table>
    </div>
    <div class="row">
        <form method="get" action="/addstudent/">
            <button type="submit" class="btn btn-primary">$msg.get("STUDENTS_BTN_ADD")</button>
        </form>
    </div>
#end
